@mixin blankborder {
  box-sizing: border-box;
  border: 8px solid white;
}

@mixin Resetcss {
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
}

@mixin GridColumnRow($column, $row) {
  grid-column: #{$column};
  grid-row: #{$row};
}