$basecolor: black;
$standardcolor: white;
$highlightcolor: rgb(144, 255, 255);

$bottomfontcolor: rgb(240, 240, 240);
$productsectioncolor: #384454;

$basefont: "Montserrat", sans-serif;
$fancyfont: "GFS Didot", serif;
