@use "sass:color";
@use "vars" as vars;
@use "mixins" as mixins;

body {
  background-color: gray;
  @include mixins.Resetcss();
}

.hero {
  display: grid;
  grid-template-rows: auto auto;
  background-color: vars.$standardcolor;
  margin: 0 0.625rem 0.625rem;
}

.hero_top {
  h1 {
    color: vars.$basecolor;
    font-family: vars.$fancyfont;
    font-size: clamp(2rem, 4vw, 4rem);
  }
  h2 {
    font-size: 1rem;
    font-weight: 500;
    font-size: clamp(1rem, 3vw, 2rem);
  }
  font-family: vars.$basefont;
  text-align: center;
  padding: 1rem;
  border-top: 0.9375rem solid #3c4353;
}

.hero_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.hero_bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heropic1 {
  &:hover {
    border: 3px solid vars.$highlightcolor;
  }
  @include mixins.GridColumnRow("1/3", 1);
}
.heropic2 {
  &:hover {
    border: 3px solid vars.$highlightcolor;
  }
  @include mixins.GridColumnRow(1, 2);
  @include mixins.blankborder();
}
.heropic3 {
  &:hover {
    border: 3px solid vars.$highlightcolor;
  }
  @include mixins.GridColumnRow(2, 2);
  @include mixins.blankborder();
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.625rem 0.625rem;
  height: auto;
  background-color: vars.$productsectioncolor;
  border-top: 2px solid vars.$standardcolor;
  border-bottom: 2px solid vars.$standardcolor;
  h1,
  h2,
  p {
    color: vars.$standardcolor;
  }
}
.product_name {
  font-family: vars.$basefont;
}
.price {
  font-family: vars.$fancyfont;
}
.pic {
  &:hover {
    border: 4px solid vars.$highlightcolor;
  }
}
.productphoto img {
  &:hover {
    cursor: pointer;
    border: 4px solid vars.$highlightcolor;
  }
}
.products_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.productphoto {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid vars.$standardcolor;
}

.productphoto img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 4px solid color.scale(vars.$productsectioncolor, $lightness: -40%);
}
.price {
  text-align: end;
}

.endbutton {
  padding: 1.25rem;
}
.buyallbtn {
  all: unset;
  cursor: pointer;
  font-size: 1.5rem;
  color: vars.$bottomfontcolor;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;

  &:hover {
    color: color.scale(vars.$bottomfontcolor, $lightness: -20%);
    border-bottom: 2px solid vars.$bottomfontcolor;
  }
}

@media (min-width: 769px) {
  .hero_top {
    border-top: 15px solid transparent;
  }
  .hero_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .heropic1 {
    @include mixins.GridColumnRow("1/4", "1/3");
  }

  .heropic2 {
    @include mixins.GridColumnRow("4/5", "1/2");
    @include mixins.blankborder();
  }

  .heropic3 {
    @include mixins.GridColumnRow("4/5", "2/3");
    @include mixins.blankborder();
  }
  .products_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 1440px) {
  .hero_top p {
    margin: 0 20rem;
    font-size: 1.5vw;
  }
  body {
    background-color: vars.$standardcolor;
  }
  .hero {
    margin: 0px 3.75rem 3.75rem;
  }
  .bottom {
    margin: 0px 3.75rem 3.75rem;
  }
  .hero_top {
    border-top: 15px solid transparent;
  }
  .hero_bottom{
    grid-template-rows: 400px 400px;
  }
}
